name: Build and deploy ASP.Net Core app to Azure Web App - p421-api

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Restore dependencies
        run: dotnet restore back/PD421_Dashboard_WEB_API.sln

      - name: Build
        run: dotnet build back/PD421_Dashboard_WEB_API.sln --configuration Release --no-restore

      - name: Publish
        run: dotnet publish back/PD421_Dashboard_WEB_API/PD421_Dashboard_WEB_API.csproj -c Release -o "${{env.DOTNET_ROOT}}/myapp"

      - name: Upload artifact for deployment
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ${{env.DOTNET_ROOT}}/myapp

  deploy:
    runs-on: windows-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: .net-app
          path: ./publish

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_7FF3CF00A24F4CD2B32FC3A40DE6FB0A }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_AB86DE9E977A4AA0BACBE9F582BA1A41 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_77622384E89D4B44858DE756EE66D41A }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'p421-api'
          slot-name: 'Production'
          package: ./publish
